.footer {
    color: $primary-white-color;
    background-color: $background-color;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.box-footer {  
@media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        }
}
.footer-tablet {

@media screen and (min-width:768px) {
   display: flex;
   padding-left: 61px;
   padding-right: 74px;
   align-items: baseline;
}
@media screen and (min-width:1200px) {
padding-left: 0px;
padding-right: 0px;
}}

.logo.footer-box__logo {
    display: block;
    margin-bottom: 20px;
    color: $accent-color;
    text-align: center;
    
@media screen and (min-width:768px) {
margin-right: 0px;
}

@media screen and (min-width:1200px) {
  text-align: start;
}
}

.logo__studio {
margin-bottom: 20px;
margin-right: 0px;
color: $primary-white-color;

}

.list-footer {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;

    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
}

.list-footer__item {
    display: block;
    text-align: center;
    margin-bottom: 8px;

    &:nth-child(3n) {
    margin-bottom: 60px;
    }
        @media screen and (min-width:1200px) {
            text-align: start; 
        }

                &:nth-child(3n) {
                    @media screen and (min-width:1200px) {
margin-bottom: 0px;
}
}}

.list-footer__address {
    color: $primary-white-color;

}

.list-footer__link {
    color: $color-link-footer;
}

.footer-boxLink__paragraph,
.footer-boxForm__paragraph {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;

    @media screen and (min-width:1200px) {
       text-align: start;
        }
    }

