.comand {
    background-color: $select-button-color;
    align-items: center;
}

.conteiner__title {


        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: $primary-text-color;
        margin-bottom: 30px;

        @media screen and (min-width:1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
}}

.our-team {
   
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap; 
    }

        
}
.our-team__item {
    background-color: $primary-white-color;
    border-radius: 0px 0px 4px 4px;

// @media screen and (min-width:480px) {
        margin-bottom: 30px;
    

    @media screen and (min-width:768px) {
        margin-right: 30px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 0px;
    }

    &:last-child {
        // @media screen and (min-width:480px) {
            margin-bottom: 0px;
        
    }

    &:nth-child(n + 3) {
        @media screen and (min-width:768px) {
            margin-bottom: 0px;

        }
    }

    &:nth-child(2n) {
        @media screen and (min-width:768px) {
            margin-right: 0px;
        }
    }

    &:nth-child(2) {
        @media screen and (min-width:1200px) {
            margin-right: 30px;
        }
    }
}


.our-team__foto {
    margin-bottom: 30px;
    
    // @media screen and (min-width:480px) {
        width: 450px;
    
    
   @media screen and (min-width:768px) {
       width: 354px;
   }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
}

.our-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    
    margin-bottom: 10px;
}

.our-team__specialty {
    color: $titel-text-color;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  
    margin-bottom: 16px;
}


.our-team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}