/* Чем мы занимаемся */

.over-work {
    @media screen and (max-width:320px) {
            display: none;
        }
    @media screen and (max-width:1199px) {
        display: none;
    }
          @media screen and (min-width:1200px) {
    padding-top: 0px;
}
}

.conteiner__title {
    margin-bottom: 50px;
    text-align: center;
    align-items: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.gallery {
    display: flex;
}

.gallery-foto {
    display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 0px;
}

.gallery-foto:nth-child(3) {
    margin-right: 0px;
    padding-right: 0px;
}

/* Переходы и анимац. в разделе чем мы занимаемся  */
.foto {
    position: relative;
}

.foun {

    position: absolute;

    bottom: 0px;

    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.foun__text {
   
    @extend %positionCenter;
}