.footer {
    color: $primary-white-color;
    background-color: $background-color;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-box__logo {
    margin: 0px 0px 20px 0px;
    color: $accent-color;

}

.logo__studio {
    margin: 0px 0px 20px 0px;
    color: $primary-white-color;
}

.list-footer {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;

    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
}

.list-footer__item {
    margin-bottom: 9px;

&:nth-child(3n) {
    margin-bottom: 0px;
}
}



.list-footer__address {
    color: $primary-white-color;
 
}

.list-footer__link {
    color: $color-link-footer;
}

.footer-boxLink__paragraph,.footer-boxForm__paragraph {
    display: inline;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-icon {
    margin-top: 20px;
}

