
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
}

.page-header__nav {
  @extend %centeredflex;
}

.logo {
    display: block;
    margin-right: 93px;
}

.contacts {
    display: flex;
}

.contacts__link {
    margin-left: auto;
}

.contacts__item {
    margin-right: 50px;

    &:nth-child(3) {
        margin-right: 0px;
    }
}

.contacts__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-icon__mail,
.contacts-icon__tel {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

