.backdrop {
    z-index: 1;
   position: fixed;
   @extend %size;
   
   background-color: rgba(0, 0, 0, 0.2);
   opacity: 1;
   visibility: visible;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .backdrop.is-hidden {
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
 }

 .modal {
@extend %positionCenter;

    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 2px 1px rgba(0, 0, 0, 0.2);

    padding: 40px;

 }

 .modal__button {
     position: absolute;
     width: 30px;
  height: 30px;
     border-radius: 50%;

    top: 0px;
     right: 0px;

  background-color: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 8px 8px auto auto;
    cursor: pointer;

     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
   fill: $accent-color;
 }
 }


 .modal__iconClose {
   @extend %positionCenter;
    
 }


/* Форма в модальном окне в разделе заказать услугу */

  .modal__paragraph {

     width: 448px;
     height: 23px;

    font-weight: 700;
     font-size: 20px;    
    line-height: 1.15;
     text-align: center;
     letter-spacing: 0.03em;

    color: $primary-text-color;

     margin-bottom: 16px;
 }
   .modal__label {

    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;


    margin: 0px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

     color: $titel-text-color;
 }


 .modal__input {
 
  
     padding: auto;
     padding-left: 42px;
     margin-top: 4px;
     margin-bottom: 14px;
     box-sizing: border-box;

     width: 448px;
     height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

     cursor: pointer;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


     &:focus {
     border-color: $accent-color;
     outline: none !important;
 }

 &:focus + .modal__icon {
     fill: $accent-color;
 }
 }


 .modal__icon {
    position: absolute;
     padding: 11px auto 11px 12px;
    
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    
     cursor: pointer;

 }


 .modal__comment {

     resize: none;

     width: 448px;
     height: 120px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     padding: 12px 16px;
     margin-bottom: 20px;
     margin-top: 4px;

     font-weight: 400;
     font-size: 12px;
     line-height: 1.16;
     letter-spacing: 0.01em;

     color: rgba(117, 117, 117, 0.5);
    cursor: pointer;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


     &:focus {
     border-color: $h-button-color;
     outline: none !important;
 }
}


 .modal__labelCheckbox {
    @extend %centeredflex;

     margin-bottom: 30px;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: $titel-text-color;
     cursor: pointer;
 }

.modal__inputCheckbox {
     appearance: none;
     -moz-appearance: none; 
    -webkit-appearance: none;
     position: absolute;

 &:checked + .modal__iconCheckbox {

     background-origin: border-box;
     background-image: url(../imeges/icon\ check\ \(2\).svg);
     background-size: contain;
     background-color: $accent-color;
     border-color: $accent-color;

 }
 }

 .modal__iconCheckbox {

     display: inline-block;
     border-radius: 2px;
     margin-right: 7px;


 }

 .modal__link {
     color: rgba(33, 150, 243, 1);
     text-decoration: underline;
     margin-left: 4px;
 }



 .modal__submit {
  
    width: 200px;
    height: 50px;

    background-color: $accent-color; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: $accent-color;

    font-weight: 700;
     font-size: 16px;
    line-height: 1.88;
     letter-spacing: 0.06em;

     color: $primary-white-color;
     cursor: pointer;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &:hover,
 &:focus {
     background-color: $h-button-color;
 }
 }


